.card {
  background-color: rgb(231, 210, 173);
  color: rgb(85, 76, 60);
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
}

.card-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.card ul {
  font-size: 1.1rem;
  padding-left: 1.5rem;
}

.card a.btn {
  font-size: 1.2rem;
  padding: 10px 20px;
}
