.navbar {
  background-color: rgb(231, 210, 173) !important;
  justify-content: center;
}

.navbar .navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar .nav-link {
  color: rgb(85, 76, 60) !important;
}

.navbar .nav-link:hover {
  color: #000000 !important;
}

.navbar-brand img {
  height: 60px;
  width: auto;
}

.navbar .dropdown-menu {
  min-width: 180px;
}
