body,
html {
  height: 100%;
  margin: 0;
}

.colorants-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colorants-card {
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgb(226, 214, 221) 0%,
    rgba(245, 238, 229, 1) 82%,
    rgba(255, 235, 219, 1) 100%,
    rgba(245, 184, 135, 1) 100%
  );
  color: rgb(85, 66, 50);
  width: 100%;
  max-width: 800px;
  height: auto;
  max-height: 80vh;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.colorants-card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.colorants-card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.colorants-card-text {
  font-size: 1.1rem;
  line-height: 1.6;
}

.colorants-scrollable-container {
  max-height: 70vh;
  overflow-y: auto;
  padding-right: 15px;
  scrollbar-width: none;
  overflow-wrap: break-word;
}

.colorants-scrollable-container::-webkit-scrollbar {
  display: none;
}

.colorants-type-card {
  background-color: rgba(185, 207, 190, 0.591);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.colorants-type-card:hover {
  transform: translateY(-5px);
}

.colorants-type-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #2c3e50;
}

.colorants-type-text {
  font-size: 1.1rem;
  margin-top: 10px;
  color: #151414;
}

.colorants-type-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 8px;
}

.colorants-type-card img {
  display: block;
  margin: 10px auto;
}
