
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}


.app {
  display: flex;
  position: relative;
  background-image: url("public/baground.png"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  overflow-y: scroll;
}


